body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.header_baner {
    background-image: url("banner.jpg");
    color: white;
    padding: 20px 10px;
    text-align: center;
}

main {
    padding: 20px;
    background-color: #4682B4;
}
.Vvod{
    background-color: #F0F0F0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.product_module {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product_module > section {
    flex: 1 1 calc(50% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}
.first.product {
    background-color: #e3f2fd;
}

.second.product {
    background-color: #fce4ec; 
}

.fird.product {
    background-color: #fff3e0;
}

.four.product {
    background-color: #ede7f6;
}

.table {
    background-color: #e3f2fd;
    border-radius: 5px;
    padding: 15px;
}

.table ul li {
    padding: 5px 0;
}
.scrollable-list {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.scrollable-list ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.scrollable-list li {
    text-align: center;
}

.scrollable-list img {
    width: 100px; /* Уменьшение размера изображений */
    height: 100px;
    border-radius: 50%;
    margin-top: -20px;
}
.Contact{
    background-color: #F0F0F0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .product_module {
        flex-direction: column;
        align-items: center;
    }

    .product_module > section {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .header_baner {
        font-size: 1.2rem;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.2rem;
    }

    .product_module > section {
        padding: 15px;
    }
}
